.container {
    font-family: "Press Start 2P";
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0,0, 0.9);
    color: rgb(79, 223, 86);
}
.textoerror {
    width: 900px;
}
.numeroerror {
    font-size: 300px;
    font-weight: 200;
    margin: 1px;
}

