.dialogo {
    position: absolute;
    top: 30px;
    width: 93%;
    z-index: 4;
    margin: 0 auto;
    border-radius: 15px;
    border: 5px solid #6bd1ff;
    padding: 60px 12px;

    @media (width > 1024px) {
        width: 70%;
        top: 50px;
        padding: 60px 140px;
    }
}


.tituloPrincipal {
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
        font-size: 60px;
        margin: 0px;
    }

    & p {
        font-size: 20px
    }
}

.subtitulo {
    align-self: flex-start;
    text-align: left;
    padding: 20PX 0;
    font-size: 32px;
    width: 100%;
    border-style: solid none solid;
    border-width: 0.5px 0px 0.5px;
    border-color: rgba(165, 165, 165, 0.8);
}

.formulario {
    width: 83%;
    display: flex;
    justify-content: space-between;

    text-align: left;
    gap: 20px;
}

.divisor {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

label {
    font-weight: bolder;
    display: block;
    text-align: left;
}

.form_input,
.form_textarea {
    padding: 5px 10px;
    background-color: transparent;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(165, 165, 165, 0.8);
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(254, 254, 254);
}

.form_textarea {
    height: 8em;
}


.botonesform {
    cursor: pointer;
    border-style: solid;
    border-color: rgb(254, 254, 254);
    border-radius: 10px;
    border-width: 1px;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0 15px;
    color: rgb(254, 254, 254);

    &:hover {
        border-color: rgb(34, 113, 209);
    }

    &:active {
        border-style: solid;
        border-color: rgb(34, 113, 209);
        border-radius: 10px;
        border-width: 1px;
        background-color: rgb(0, 0, 0);
        padding: 5px 10px;
        margin: 0 15px;
        color: rgb(34, 113, 209);
        box-shadow: inset 0px 0px 3px 2px rgb(34, 113, 209);
    }
}